log:
  stdout: true
  v: -1
  file: "logs/app.log"
  format: "console" # console、json

mysql:
  address: "mysql"
  port: 33066
  username: "root"
  password: "888888"
  database: "coss"

grpc:
  address: "storage_service"
  port: 10006

# 注册本服务
register:
  # 服务注册名称
  name: "storage_service"

  # 注册中心地址
  address: "consul"

  # 注册中心端口
  port: 8500

  tags: ["storage", "service","存储服务"]

  # 启用服务发现 默认为true
  #discover: true
  # 启用服务注册 默认为true
  #register: true